<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OpUserinfo</servlet-name>
    <servlet-class>servlet.OpUserinfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdataServlet</servlet-name>
    <servlet-class>servlet.UpdataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetBookDetils</servlet-name>
    <servlet-class>servlet.GetBookDetils</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetcatagoryBook</servlet-name>
    <servlet-class>servlet.GetcatagoryBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetBook</servlet-name>
    <servlet-class>servlet.GetBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>servlet.AddBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>servlet.DeleteBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpBook</servlet-name>
    <servlet-class>servlet.UpBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>servlet.GetUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetOrders</servlet-name>
    <servlet-class>servlet.GetOrders</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>servlet.AddComment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetComment</servlet-name>
    <servlet-class>servlet.GetComment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetComWithUid</servlet-name>
    <servlet-class>servlet.GetComWithUid</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetComWithBid</servlet-name>
    <servlet-class>servlet.GetComWithBid</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelCom</servlet-name>
    <servlet-class>servlet.DelCom</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RecommendBook</servlet-name>
    <servlet-class>servlet.RecommendBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginOut</servlet-name>
    <servlet-class>servlet.LoginOut</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyPass</servlet-name>
    <servlet-class>servlet.ModifyPass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetOrder</servlet-name>
    <servlet-class>servlet.GetOrder</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelOrder</servlet-name>
    <servlet-class>servlet.DelOrder</servlet-class>
  </servlet>






















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpUserinfo</servlet-name>
    <url-pattern>/servlet/OpUserinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdataServlet</servlet-name>
    <url-pattern>/servlet/UpdataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBookDetils</servlet-name>
    <url-pattern>/servlet/GetBookDetils</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetcatagoryBook</servlet-name>
    <url-pattern>/servlet/GetcatagoryBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBook</servlet-name>
    <url-pattern>/servlet/GetBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/servlet/AddBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/servlet/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpBook</servlet-name>
    <url-pattern>/servlet/UpBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/servlet/GetUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrders</servlet-name>
    <url-pattern>/servlet/GetOrders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/servlet/AddComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetComment</servlet-name>
    <url-pattern>/servlet/GetComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetComWithUid</servlet-name>
    <url-pattern>/servlet/GetComWithUid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetComWithBid</servlet-name>
    <url-pattern>/servlet/GetComWithBid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCom</servlet-name>
    <url-pattern>/servlet/DelCom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecommendBook</servlet-name>
    <url-pattern>/servlet/RecommendBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/servlet/LoginOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyPass</servlet-name>
    <url-pattern>/servlet/ModifyPass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrder</servlet-name>
    <url-pattern>/servlet/GetOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrder</servlet-name>
    <url-pattern>/servlet/DelOrder</url-pattern>
  </servlet-mapping>

<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>