@CHARSET "UTF-8";
.book——list{
	float:left;
}

.book_img{
	width:400px;
}

.book_info{
	list-style:none;
	padding:30;
	margin:40;
	float:left;
}

.book{
	width:100%;
	height:240px;
	border-collapse:separate;
	border-spacing:20px 0px;
	padding:0px;
}
