@CHARSET "UTF-8";
.footer_item{
	list-style:none;
}

.footer_row1{
	background-color:#171717;
	height:100px;
	color:#FFFFFF;
}

.footer_row2{
	background-color:#4A4A4A;
	height:30px;
	color:#FFFFFF;
}

table{
	border-collapse:collapse;
}